<button mat-button class="header__catalog-button button-on" [matMenuTriggerFor]="animals">
  <div class="header__catalog-button_icon">
    <img src="../../../../assets/menu-icon.svg" alt="меню" class="header__catalog-button_icon-image">
  </div>
  <p class="header__catalog-button_text">Каталог товаров</p>
</button>

<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="appliances"><img src="../../../../assets/appliances.svg" alt="Бытовая техника" class="category-image">&nbsp;Бытовая техника</button>
  <button mat-menu-item [matMenuTriggerFor]="electronics"><img src="../../../../assets/electronics.svg" alt="Бытовая техника" class="category-image">&nbsp;Электроника</button>
  <button mat-menu-item [matMenuTriggerFor]="computers"><img src="../../../../assets/computers.svg" alt="Бытовая техника" class="category-image">&nbsp;Компьютеры и периферия</button>
  <button mat-menu-item [matMenuTriggerFor]="furniture"><img src="../../../../assets/furniture.svg" alt="Бытовая техника" class="category-image">&nbsp;Мебель</button>
  <button mat-menu-item [matMenuTriggerFor]="hobbies"><img src="../../../../assets/hobby.svg" alt="Бытовая техника" class="category-image">&nbsp;Досуг и хобби</button>
</mat-menu>

<mat-menu #appliances="matMenu">
  <a [routerLink]="['category/', category.id]" *ngFor="let category of service.categories[0].subCategories" mat-menu-item>{{category.name}}</a>
</mat-menu>

<mat-menu #electronics="matMenu">
  <a [routerLink]="['category/', category.id]" *ngFor="let category of service.categories[1].subCategories" mat-menu-item>{{category.name}}</a>
</mat-menu>

<mat-menu #computers="matMenu">
  <a [routerLink]="['category/', category.id]" *ngFor="let category of service.categories[2].subCategories" mat-menu-item>{{category.name}}</a>
</mat-menu>

<mat-menu #furniture="matMenu">
  <a [routerLink]="['category/', category.id]" *ngFor="let category of service.categories[3].subCategories" mat-menu-item>{{category.name}}</a>
</mat-menu>

<mat-menu #hobbies="matMenu">
  <a [routerLink]="['category/', category.id]" *ngFor="let category of service.categories[4].subCategories" mat-menu-item>{{category.name}}</a>
</mat-menu>
