<main class="main-page">
  <div class="slider-title">Случайный товар</div>
  <swiper
      [spaceBetween]="30"
      [centeredSlides]="true"
      [autoplay]="{
        delay: 2500,
        disableOnInteraction: false
      }"
      [pagination]="{
        clickable: true
      }"
      class="mySwiper">
      <ng-template *ngFor="let item of randomGoods" swiperSlide><app-slide [data]="item"></app-slide></ng-template>
  </swiper>
  <div class="slider-title second-title">Популярные товары</div>
  <swiper [navigation]="true" class="myFavorite">
    <ng-template *ngFor="let item of favoriteGoods" swiperSlide>{{item[0].name}}</ng-template>
</swiper>
</main>
