<div class="card" *ngIf="data">
  <div class="image-container">
    <img [src]="data.imageUrls[0]" alt="фотография товара" class="image">
    <div class="image-favorite" *ngIf="data.rating === 5">
      <img src="../../../../assets/favorite.png" alt="топ товар" class="favorite">
    </div>
  </div>
  <a [routerLink]="['/good/', data.id]" class="title">{{data.name}}</a>
  <div class="availability">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" class="svg">
      <path [appAvailableNow]="data.availableAmount" fill-rule="evenodd" clip-rule="evenodd" d="M13 9C13 11.7614 10.7614 14 8 14C5.23858 14 3 11.7614 3 9C3 6.23858 5.23858 4 8 4C10.7614 4 13 6.23858 13 9ZM14 9C14 12.3137 11.3137 15
         8 15C4.68629 15 2 12.3137 2 9C2 5.68629 4.68629 3 8 3C11.3137 3 14 5.68629 14 9ZM5.92426 8.07574L7.5 9.65147L10.5757 6.57574L11.4243 7.42426L7.92426 10.9243C7.81174 11.0368 7.65913
         11.1 7.5 11.1C7.34087 11.1 7.18826 11.0368 7.07574 10.9243L5.07574 8.92426L5.92426 8.07574Z" fill="#999999"/>
    </svg>
    <p class="availability-text">В наличии</p>
  </div>
  <p class="price">{{data.price}}&nbsp;руб.</p>
  <app-rating [data]="data.rating" class="rating"></app-rating>
  <app-buttons [data]="data"></app-buttons>
</div>
