<header class="header">
  <div class="header__info-wrapper">
    <div class="header__info">
      <app-location></app-location>
      <div class="header__addition-info">
        <app-contacts></app-contacts>
        <div class="header__call-center">
          <img src="../../../assets/watch.svg" alt="watch" class="header__call-center-image">
          <div class="header__call-center-text">контакт-центр с 8:00 до 22:00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__navigation-wrapper">
    <div class="header__navigation">
      <a class="header__logo-wrapper">
        <img src="../../../assets/logo.svg" alt="логотип" class="header__logo">
      </a>
      <app-catalog></app-catalog>
    </div>
  </div>
</header>
